/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    padding: 10px;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 24px;
}

.navbar nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.3s ease; /* Transición para agrandamiento */
}

.navbar nav a:hover {
    background-color: #444;
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el cursor */
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(45deg, #300048, #ff5733);
    color: white;
    text-align: center;
    padding: 20px;
}

/* Estilo para el contenedor de botones */
.button-container {
    display: flex;
    flex-direction: column; /* Coloca los botones en vertical */
    align-items: center; /* Centra los botones horizontalmente */
    position: fixed; /* Mantiene el contenedor en la misma posición */
    bottom: 20px; /* Espacio desde el fondo */
    left: 50%; /* Posiciona en el centro horizontalmente */
    transform: translateX(-50%); /* Ajusta para centrar correctamente */
}

/* Estilo para todos los botones */
button, .btn-main {
    padding: 12px 24px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease; /* Suavidad en las transiciones */
    margin: 5px 0; /* Espacio entre botones */
}

button:hover, .btn-main:hover {
    background-color: #45a049;
    transform: scale(1.1); /* Agrandamiento al pasar el cursor */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

button:active, .btn-main:active {
    background-color: #3e8e41;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: scale(1); /* Elimina el agrandamiento al hacer clic */
}

#contenedorTablaMultiplicar {
    margin-top: 20px;
    color: black; /* Cambia el color del texto a negro */
    text-align: left; /* Alinea el texto a la izquierda */
}

table {
    width: 100%; /* Hacer la tabla más amplia si lo deseas */
    border-collapse: collapse; /* Colapsar bordes */
}

th, td {
    padding: 8px; /* Espaciado en celdas */
    border: 1px solid #ccc; /* Bordes grises para las celdas */
}

th {
    background-color: #f2f2f2; /* Co
